body {
    background: linear-gradient(to bottom, #11004D, #000BAC);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    font-family: Arial, sans-serif;
}
.container {
    background: #e0f0ff;
    border-radius: 20px;
    box-shadow: 17px 17px 4px rgba(233, 226, 226, 0.2);
    width: 1000px;
    height: 600px;
    text-align: center;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
}
.block-up {
    display: flex;
    padding-left: 5px;
}
.text-box {
    display: flex;
    flex-direction: column;
    width: 421px;
    height: 405px;
    background: white;
    border-radius: 8px;
    border: 0.1px solid black;
    justify-self: start;
    padding-left: 5px;
    padding-right: 10px;
    overflow-y: auto;
    position: relative;
    text-align: left;  
    overflow-x: hidden;
}
.text-box textarea {
    height: 275px; 
    resize: none; 
}
.text-content {
    overflow-y: auto;
    padding: 0 5px 0 5px;
}
#box1{
    margin: 15px;
}
#box2 {
    justify-self: end;
    margin: 15px;
}
.text-box p {
    font-size:11px;
    margin: 0;
    white-space: pre-wrap; 
    height: 280px; 
    max-width: 100%;
    overflow-wrap: break-word;
}
h3 {
    color: black;
    font-size: 22px;
    max-width: 300px;
    overflow-x: auto; 
    white-space: pre-wrap;
}
.text-info{
    background: white;
    border: 0.1px solid black; 
    width: 426px;
    text-align: left; 
    height: 80px;
    border-radius: 8px;   
}
#box3 h3{
   margin: 0;
   margin-top: 15px; 
   font-size: 15px;
}
#box3 p{
    margin-left: 2px;
    font-size: 12px;
    margin-top: 0;
}
#box4 h3{
    margin: 0;
    margin-top: 15px; 
    margin-left: 13px;
    font-size: 15px;
 }
#box4 p{
    margin-left: 16px;
    font-size: 12px;
    margin-top: 0;
}
#box3{
    margin-right: 29px;
    padding-left: 10px;
}
#box4{
    margin-left: 31px;
    padding-right: 9px;
}
.edit-title {
   height: 32px;
   width: 100px;
   background: #FF4545;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px;
}
.edit-text {
    width: 100px;
    height: 32px;
    background: #FF4545;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self:self-end ;
    flex-shrink: 0;
    position: absolute;
    bottom: 10px; 
    right: 10px;
}
.swap-button{
    grid-row: 3;
    grid-column: 2 span;
    height: 44px;
    width: 424px;
    background: #A43939;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 16px;
    font-size: 20px;
    font-weight: 100;
}
.text-box input,
.text-box textarea {
    width: calc(100% - 90px); 
    max-width: 100%;
    box-sizing: border-box;
}
